<md-dialog aria-label="List dialog">
    <md-dialog-content>
        <h1>AAAAAAAAAAAAAAAA</h1>
        <!-- <form name="loginForm">
            <label>{{}}</label>
            <md-input-container>

            </md-input-container>
            <div layout="column">
                <md-input-container>
                    <label>User Name</label>
                    <input type="text" name="userName" ng-model="user.username" minlength="5" maxlength="15" required>
                    <div ng-message="loginForm.userName.$error">
                        <div ng-message="required">
                            User Name is required
                        </div>
                        <div ng-message="minlegth">
                            User name is too short
                        </div>
                        <div ng-message="maxlength">
                            User name is too long
                        </div>
                    </div>
    
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" name="passw" required ng-model="user.password">
                    <div ng-message="loginForm.passw.$error">
                        <div ng-message="required">
                            Passsword is required
                        </div>
                    </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary" ng-click="login(loginForm)">Login</md-button>
            </div>
        </form>  -->
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">Close dialog</md-button>
    </md-dialog-actions>
</md-dialog>